.gridDrawer {
  border: 4px #f3efdb solid;
}

.gridDrawer .gd__group {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
  font-size: 0rem;
}

.gridDrawer .gd__group .gd__side {
  height: 0;
  padding-bottom: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.gridDrawer .gd__group .gd__side.gd__size-l {
  width: 50%;
}

.gridDrawer .gd__group .gd__side.gd__size-s {
  width: 25%;
}

.gridDrawer .gd__group .gd__side.gd__size-s .gd__item .gd__inside {
  height: 200%;
  top: -100%;
}

.gridDrawer .gd__group .gd__side.gd__size-s .gd__item:first-child .gd__inside {
  top: 0%;
}

@media screen and (max-width: 1024px) {
  .gridDrawer .gd__group {
    height: auto;
    padding-bottom: 0px;
  }
  .gridDrawer .gd__group .gd__side {
    height: auto;
    padding-bottom: 0px;
    display: block;
  }
  .gridDrawer .gd__group .gd__side.gd__size-l {
    width: 100%;
  }
  .gridDrawer .gd__group .gd__side.gd__size-s {
    width: 100%;
  }
  .gridDrawer .gd__group .gd__side.gd__size-s .gd__item {
    width: 50%;
    height: auto;
    padding-bottom: 0px;
    display: inline-block;
    vertical-align: top;
    position: static;
  }
  .gridDrawer .gd__group .gd__side.gd__size-s .gd__item .gd__inside {
    width: 200%;
    height: 0px;
    padding-bottom: 200%;
    margin-left: -100%;
  }
  .gridDrawer .gd__group .gd__side.gd__size-s .gd__item:first-child .gd__inside {
    top: 0%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 480px) {
  .gridDrawer .gd__group .gd__side.gd__size-s {
    width: 100%;
  }
  .gridDrawer .gd__group .gd__side.gd__size-s .gd__item {
    width: 100%;
  }
  .gridDrawer .gd__group .gd__side.gd__size-s .gd__item .gd__inside {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    margin-left: 0%;
  }
}

.gridDrawer .gd__item {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  position: relative;
}

.gridDrawer .gd__item .gd__outside {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 4px #f3efdb solid;
  background-color: #53a946;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

@media screen and (min-width: 1025px) {
  .gridDrawer .gd__item .gd__outside:hover {
    background-color: #cabc00;
  }
}

.gridDrawer .gd__item .gd__outside .open-btn {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  text-indent: -9999px;
  text-decoration: none;
}

.gridDrawer .gd__item .gd__inside {
  width: 0%;
  height: 100%;
  position: absolute;
  border: 4px #f3efdb solid;
  background-color: #2b7d3e;
  top: 0%;
  left: 100%;
  display: none;
  opacity: 0;
  z-index: 100;
}

.gridDrawer .gd__item .gd__inside .close-btn {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  font-size: 0rem;
}

.gridDrawer .gd__item .gd__inside .close-btn::before {
  font-size: 1.5rem;
  color: #fff;
}

.gridDrawer .gd__item .gd__wrap {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 1rem;
  position: absolute;
  left: 0px;
  top: 0px;
}

.gridDrawer .gd__item .gd__wrap p {
  color: #fff;
  margin-bottom: 0px;
}

.gridDrawer .gd__item .gd__wrap > img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gridDrawer .gd__item.is-open .gd__outside {
  background-color: #cabc00;
}

@media screen and (max-width: 1024px) {
  .gridDrawer .gd__item {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
  }
  .gridDrawer .gd__item .gd__outside {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    position: relative;
  }
  .gridDrawer .gd__item .gd__inside {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    display: none;
    opacity: 1;
    left: 0%;
  }
}
