@charset "UTF-8";
@import './_variables.scss';
@import './_mixin.scss';

@import './_reset.scss';

.gd__container {
  border: $border;
}

.gd__group {
  width: 100%;
  position: relative;
  overflow: hidden;

  @include min-width(1025px) {
    height: 0;
    padding-bottom: 50%;
  }
}

.gd__side {
  display: block;
  position: relative;

  @include min-width(1025px) {
    height: 0;
    padding-bottom: 50%;
    display: inline-block;
    vertical-align: top;
  }

  &.gd__size-l {
    width: 100%;

    @include min-width(1025px) {
      width: 50%;
    }
  }

  &.gd__size-s {
    width: 100%;

    @include min-width(1025px) {
      width: 25%;
    }

    .gd__item {
      @include max-width(1024px) {
        width: 50%;
        height: auto;
        padding-bottom: 0;
        display: inline-block;
        position: static;
        vertical-align: top;
      }

      @include max-width(480px) {
        width: 100%;
      }

      &:first-child .gd__inside {
        top: 0%;

        @include max-width(1024px) {
          margin-left: 0%;
        }
      }
    }

    .gd__inside {
      height: 200%;
      top: -100%;

      @include max-width(1024px) {
        width: 200%;
        height: 0;
        padding-bottom: 200%;
        margin-left: -100%;
      }

      @include max-width(480px) {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        margin-left: 0%;
      }
    }
  }
}

.gd__item {
  width: 100%;
  height: auto;
  position: relative;

  @include min-width(1025px) {
    height: 0;
    padding-bottom: 100%;
  }

  &.is-open {
    .gd__outside {
      background-color: $color-target;
    }
  }
}

.gd__outside {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  background-color: $color-outside;
  border: $border;
  transition: all 0.6s;

  @include min-width(1025px) {
    height: 100%;
    padding-bottom: 0;
    position: absolute;

    &:hover {
      background-color: $color-target;
    }
  }
}

.gd__inside {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  display: none;
  position: relative;
  top: 0%;
  left: 0%;
  background-color: $color-inside;
  border: $border;
  opacity: 1;
  z-index: 100;

  @include min-width(1025px) {
    width: 0%;
    height: 100%;
    padding-bottom: 0;
    position: absolute;
    left: 100%;
    opacity: 0;
  }
}

.gd__wrap {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;

  p {
    color: $color-white;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.close-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}
